ros/WebContent/WEB-INF/wsdl/ErtoServiceApi_3_0.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns2="http://suik.erto.transinfocom.ru/fault/" xmlns:ns1="http://suik.erto.transinfocom.ru/service" name="ErtoServiceApi" targetNamespace="http://suik.erto.transinfocom.ru/service">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://suik.erto.transinfocom.ru/types" version="1.0">

  <xs:complexType name="OsData">
    <xs:sequence>
      <xs:element form="qualified" name="bukrs" type="xs:string"/>
      <xs:element form="qualified" name="swenr" type="xs:string"/>
      <xs:element form="qualified" name="werks" type="xs:string"/>
      <xs:element form="qualified" name="sgenr" type="xs:string"/>
      <xs:element form="qualified" name="zznumnetcoiN" type="xs:string"/>
      <xs:element form="qualified" name="xgetxt" type="xs:string"/>
      <xs:element form="qualified" name="rgebzust" type="xs:int"/>
      <xs:element form="qualified" name="xzusttxt" type="xs:string"/>
      <xs:element form="qualified" name="banzge" type="xs:int"/>
      <xs:element form="qualified" name="adressP1" type="xs:string"/>
      <xs:element form="qualified" name="adressP2" type="xs:string"/>
      <xs:element form="qualified" name="adressP3" type="xs:string"/>
      <xs:element form="qualified" name="xwerks" type="xs:string"/>
      <xs:element form="qualified" name="zznomdokEgrp" type="xs:string"/>
      <xs:element form="qualified" name="zzdatvs" type="xs:date"/>
      <xs:element form="qualified" name="zznomblank" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Area">
    <xs:sequence>
      <xs:element form="qualified" name="bukrs" type="xs:string"/>
      <xs:element form="qualified" name="werks" type="xs:string"/>
      <xs:element form="qualified" name="swenr" type="xs:string"/>
      <xs:element form="qualified" name="sgenr" type="xs:string"/>
      <xs:element form="qualified" name="meas" type="xs:string"/>
      <xs:element form="qualified" name="xmmeas" type="xs:string"/>
      <xs:element form="qualified" name="measunit" type="xs:string"/>
      <xs:element form="qualified" name="measvalue" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Equip">
    <xs:sequence>
      <xs:element form="qualified" name="bukrs" type="xs:string"/>
      <xs:element form="qualified" name="werks" type="xs:string"/>
      <xs:element form="qualified" name="swenr" type="xs:string"/>
      <xs:element form="qualified" name="sgenr" type="xs:string"/>
      <xs:element form="qualified" name="namecharact" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Contrct">
    <xs:sequence>
      <xs:element form="qualified" name="bukrs" type="xs:string"/>
      <xs:element form="qualified" name="swenr" type="xs:string"/>
      <xs:element form="qualified" name="werks" type="xs:string"/>
      <xs:element form="qualified" name="sgenr" type="xs:string"/>
      <xs:element form="qualified" name="recntype" type="xs:string"/>
      <xs:element form="qualified" name="zzerpnum" type="xs:string"/>
      <xs:element form="qualified" name="lifnr" type="xs:string"/>
      <xs:element form="qualified" name="xmbez" type="xs:string"/>
      <xs:element form="qualified" name="recndat" type="xs:date"/>
      <xs:element form="qualified" name="name1" type="xs:string"/>
      <xs:element form="qualified" name="srok" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Osdan">
    <xs:sequence>
      <xs:element form="qualified" name="bukrs" type="xs:string"/>
      <xs:element form="qualified" name="werks" type="xs:string"/>
      <xs:element form="qualified" name="anln1" type="xs:string"/>
      <xs:element form="qualified" name="anln2" type="xs:string"/>
      <xs:element form="qualified" name="anlkl" type="xs:string"/>
      <xs:element form="qualified" name="anlklTxt" type="xs:string"/>
      <xs:element form="qualified" name="txt50" type="xs:string"/>
      <xs:element form="qualified" name="invnr" type="xs:string"/>
      <xs:element form="qualified" name="zzunnum" type="xs:string"/>
      <xs:element form="qualified" name="urjhr" type="xs:int"/>
      <xs:element form="qualified" name="zzdocda" type="xs:date"/>
      <xs:element form="qualified" name="zugdt" type="xs:date"/>
      <xs:element form="qualified" name="deakt" type="xs:date"/>
      <xs:element form="qualified" name="pernr" type="xs:string"/>
      <xs:element form="qualified" name="ename" type="xs:string"/>
      <xs:element form="qualified" name="aktno" type="xs:string"/>
      <xs:element form="qualified" name="aktda" type="xs:date"/>
      <xs:element form="qualified" name="spi" type="xs:string"/>
      <xs:element form="qualified" name="xwerks" type="xs:string"/>
      <xs:element form="qualified" name="ord41" type="xs:string"/>
      <xs:element form="qualified" name="ordtx" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Krem">
    <xs:sequence>
      <xs:element form="qualified" name="bukrs" type="xs:string"/>
      <xs:element form="qualified" name="werks" type="xs:string"/>
      <xs:element form="qualified" name="anln1" type="xs:string"/>
      <xs:element form="qualified" name="anln2" type="xs:string"/>
      <xs:element form="qualified" name="lineid" type="xs:int"/>
      <xs:element form="qualified" name="kapremIdShort" type="xs:string"/>
      <xs:element form="qualified" name="kdatb" type="xs:date"/>
      <xs:element form="qualified" name="stdate" type="xs:date"/>
      <xs:element form="qualified" name="ndper" type="xs:int"/>
      <xs:element form="qualified" name="kdate" type="xs:date"/>
      <xs:element form="qualified" name="nddate" type="xs:date"/>
      <xs:element form="qualified" name="sumPir" type="xs:decimal"/>
      <xs:element form="qualified" name="sumRsbu" type="xs:decimal"/>
      <xs:element form="qualified" name="ebeln" type="xs:string"/>
      <xs:element form="qualified" name="evrtn" type="xs:string"/>
      <xs:element form="qualified" name="vedat" type="xs:date"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Pere">
    <xs:sequence>
      <xs:element form="qualified" name="bukrs" type="xs:string"/>
      <xs:element form="qualified" name="werks" type="xs:string"/>
      <xs:element form="qualified" name="anln1" type="xs:string"/>
      <xs:element form="qualified" name="anln2" type="xs:string"/>
      <xs:element form="qualified" name="gjahr" type="xs:int"/>
      <xs:element form="qualified" name="pstpo" type="xs:int"/>
      <xs:element form="qualified" name="koef" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Move">
    <xs:sequence>
      <xs:element form="qualified" name="bukrs" type="xs:string"/>
      <xs:element form="qualified" name="werks" type="xs:string"/>
      <xs:element form="qualified" name="anln1" type="xs:string"/>
      <xs:element form="qualified" name="anln2" type="xs:string"/>
      <xs:element form="qualified" name="bdatu" type="xs:date"/>
      <xs:element form="qualified" name="adatu" type="xs:date"/>
      <xs:element form="qualified" name="raumn" type="xs:int"/>
      <xs:element form="qualified" name="xraumn" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Pern">
    <xs:sequence>
      <xs:element form="qualified" name="bukrs" type="xs:string"/>
      <xs:element form="qualified" name="werks" type="xs:string"/>
      <xs:element form="qualified" name="anln1" type="xs:string"/>
      <xs:element form="qualified" name="anln2" type="xs:string"/>
      <xs:element form="qualified" name="bdatu" type="xs:date"/>
      <xs:element form="qualified" name="adatu" type="xs:date"/>
      <xs:element form="qualified" name="pernrD" type="xs:string"/>
      <xs:element form="qualified" name="ename" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Invi">
    <xs:sequence>
      <xs:element form="qualified" name="bukrs" type="xs:string"/>
      <xs:element form="qualified" name="werks" type="xs:string"/>
      <xs:element form="qualified" name="anln1" type="xs:string"/>
      <xs:element form="qualified" name="anln2" type="xs:string"/>
      <xs:element form="qualified" name="nomst" type="xs:int"/>
      <xs:element form="qualified" name="text1" type="xs:string"/>
      <xs:element form="qualified" name="text2" type="xs:string"/>
      <xs:element form="qualified" name="text3" type="xs:string"/>
      <xs:element form="qualified" name="text4" type="xs:string"/>
      <xs:element form="qualified" name="text5" type="xs:string"/>
      <xs:element form="qualified" name="text6" type="xs:string"/>
      <xs:element form="qualified" name="text7" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Oson">
    <xs:sequence>
      <xs:element form="qualified" name="bukrs" type="xs:string"/>
      <xs:element form="qualified" name="werks" type="xs:string"/>
      <xs:element form="qualified" name="anln1" type="xs:string"/>
      <xs:element form="qualified" name="anln2" type="xs:string"/>
      <xs:element form="qualified" name="reBukrs" type="xs:string"/>
      <xs:element form="qualified" name="swenr" type="xs:string"/>
      <xs:element form="qualified" name="sgenr" type="xs:string"/>
      <xs:element form="qualified" name="xwerks" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Value">
    <xs:sequence>
      <xs:element form="qualified" name="bukrs" type="xs:string"/>
      <xs:element form="qualified" name="werks" type="xs:string"/>
      <xs:element form="qualified" name="anln1" type="xs:string"/>
      <xs:element form="qualified" name="anln2" type="xs:string"/>
      <xs:element form="qualified" name="zzdate" type="xs:date"/>
      <xs:element form="qualified" name="gjeKansw" type="xs:decimal"/>
      <xs:element form="qualified" name="gjeKnafa" type="xs:decimal"/>
      <xs:element form="qualified" name="gjeBchwrt" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Neuo">
    <xs:sequence>
      <xs:element form="qualified" name="bukrs" type="xs:string"/>
      <xs:element form="qualified" name="swenr" type="xs:string"/>
      <xs:element form="qualified" name="werks" type="xs:string"/>
      <xs:element form="qualified" name="sgenr" type="xs:string"/>
      <xs:element form="qualified" name="zznumnetcoi_n" type="xs:string"/>
      <xs:element form="qualified" name="planoptyear" type="xs:int"/>
      <xs:element form="qualified" name="planoptquarter" type="xs:string"/>
      <xs:element form="qualified" name="plandismountcost" type="xs:decimal"/>
      <xs:element form="qualified" name="zzvalidto" type="xs:date"/>
      <xs:element form="qualified" name="list_number" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Neud">
    <xs:sequence>
      <xs:element form="qualified" name="bukrs" type="xs:string"/>
      <xs:element form="qualified" name="swenr" type="xs:string"/>
      <xs:element form="qualified" name="werks" type="xs:string"/>
      <xs:element form="qualified" name="sgenr" type="xs:string"/>
      <xs:element form="qualified" name="dokar" type="xs:string"/>
      <xs:element form="qualified" name="doknr" type="xs:string"/>
      <xs:element form="qualified" name="dokvr" type="xs:string"/>
      <xs:element form="qualified" name="dktxt" type="xs:string"/>
      <xs:element form="qualified" name="zzdoc_type_ext" type="xs:int"/>
      <xs:element form="qualified" name="zzdoc_type_ext_t" type="xs:string"/>
      <xs:element form="qualified" name="zzdoc_nmbr" type="xs:string"/>
      <xs:element form="qualified" name="zzdoc_date" type="xs:date"/>
      <xs:element form="qualified" name="zzregistrator" type="xs:string"/>
      <xs:element form="qualified" name="zzcomment" type="xs:string"/>
      <xs:element form="qualified" name="zzbumnetcoi_n" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Transfer">
    <xs:sequence>
      <xs:element form="qualified" name="number_job" type="xs:string"/>
      <xs:element form="qualified" name="zzdate" type="xs:date"/>
      <xs:element form="qualified" name="status" type="xs:string"/>
      <xs:element form="qualified" name="zzdate_fact" type="xs:date"/>
      <xs:element form="qualified" name="zztime" type="xs:string"/>
      <xs:element form="qualified" name="text1" type="xs:string"/>
      <xs:element form="qualified" name="nfili" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://suik.erto.transinfocom.ru/types" xmlns="http://suik.erto.transinfocom.ru/service" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://suik.erto.transinfocom.ru/service">
  <xs:import namespace="http://suik.erto.transinfocom.ru/types"/>
  <xs:element name="loadDataRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="OsData" type="ns1:OsData"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="Area" type="ns1:Area"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="Equip" type="ns1:Equip"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="Contrct" type="ns1:Contrct"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="Osdan" type="ns1:Osdan"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="Krem" type="ns1:Krem"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="Pere" type="ns1:Pere"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="Move" type="ns1:Move"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="Pern" type="ns1:Pern"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="Invi" type="ns1:Invi"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="Oson" type="ns1:Oson"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="Value" type="ns1:Value"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="Neuo" type="ns1:Neuo"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="Neud" type="ns1:Neud"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="Transfer" type="ns1:Transfer"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loadDataResponse">
    <xs:complexType>
      <xs:sequence/>
    </xs:complexType>
  </xs:element>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://suik.erto.transinfocom.ru/fault/" version="1.0">

  <xs:element name="TiDBConnectionSoapPart" type="xs:anyType"/>

  <xs:element name="TiDatabaseSoapPart" type="xs:anyType"/>

  <xs:element name="TiServerSoapPart" type="xs:anyType"/>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="loadDataResponse">
    <wsdl:part element="ns1:loadDataResponse" name="response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="loadData">
    <wsdl:part element="ns1:loadDataRequest" name="request">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="TiServerSoapException">
    <wsdl:part element="ns2:TiServerSoapPart" name="TiServerSoapException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ErtoServiceApi">
    <wsdl:operation name="loadData">
      <wsdl:input message="ns1:loadData" name="loadData">
    </wsdl:input>
      <wsdl:output message="ns1:loadDataResponse" name="loadDataResponse">
    </wsdl:output>
      <wsdl:fault message="ns1:TiServerSoapException" name="TiServerSoapException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>